.product-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h2 {
  margin: 15px 0;
  color: #1e3a8a;
}

.product-card p {
  margin: 8px 0;
}

.product-card button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.product-card button:hover {
  background: #1d4ed8;
}

/*bakhsh haft*/
.product-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h2 {
  color: #2563eb;
}

.product-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #2563eb;
  color: white;
  margin-top: 15px;
}

.product-card button:hover {
  background: #1d4ed8;
}

.product-card button:disabled {
  background: gray;
}
/*marhale4*/
.quantity-box {
  display: flex;

  align-items: center;

  gap: 15px;

  margin-top: 15px;
}

.quantity-box button {
  width: 35px;

  height: 35px;

  font-size: 20px;

  cursor: pointer;

  border: none;

  background: royalblue;

  color: white;

  border-radius: 6px;
}

.quantity-box span {
  font-size: 20px;

  font-weight: bold;
}
