.course-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card h2 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.course-card p {
  margin: 8px 0;
}

.course-card button {
  margin-top: auto;
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
}

.course-card button:hover {
  background: #1d4ed8;
}

.course-card button:disabled {
  background: gray;
}
