.search-box {
  width: 320px;
  padding: 12px;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-sie: 16px;
}

.search-box:focus {
  outline: none;
  border-color: royalblue;
}
//

.favorite-btn {
  position: absolute;

  top: 15px;

  right: 15px;

  background: white;

  width: 45px;

  height: 45px;

  border-radius: 50%;

  border: none;

  cursor: pointer;

  font-size: 24px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  transition: 0.3s;
}

.favorite-btn:hover {
  transform: scale(1.15);
}

.pagination {
  display: flex;

  justify-content: center;

  align-items: center;

  gap: 20px;

  margin-top: 40px;
}

.pagination button {
  padding: 10px 20px;

  border: none;

  background: #2563eb;

  color: white;

  border-radius: 8px;

  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;

  cursor: not-allowed;
}
