.toast {
  position: fixed;

  top: 30px;

  right: 30px;

  background: #16a34a;

  color: white;

  padding: 16px 28px;

  border-radius: 10px;

  font-weight: bold;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  animation: slide 0.3s ease;

  z-index: 9999;
}

@keyframes slide {
  from {
    transform: translateX(120px);

    opacity: 0;
  }

  to {
    transform: translateX(0);

    opacity: 1;
  }
}
